Repository anthonymoon/nixos-nixies: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, nix-syntax-check, flake-check, security-scan, performance-check, documentation-check

Path conditions:
  alejandra: any of: \.nix$
  nix-syntax-check: any of: \.nix$
  flake-check: any of: ^flake\.(nix|lock)$
  security-scan: any of: \.nix$
  performance-check: any of: \.nix$
  documentation-check: any of: \.(nix|md)$

Fix module factory parameter naming collision
  flake-modules/vm-images.nix
  lib/module-factory.nix
  lib/system-factory.nix
  modules/core/boot.nix
  modules/core/nix.nix
  modules/core/system.nix
  modules/core/users.nix
  modules/hardware/qemu.nix
  modules/services/self-hosting.nix
  profiles/base.nix
  profiles/qemu.nix
  templates/default/flake.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

Add validation reports and fix remaining uncommitted changes
  home-desktop-validation-report.md
  validation-report.md
  workstation-validation-report.md
Due: documentation-check

Fix flake input warnings and remove untrusted substituters
  flake.lock
  flake.nix
  modules/core/nix.nix
  profiles/base.nix
Due: alejandra, nix-syntax-check, flake-check, security-scan, performance-check, documentation-check

Remove unknown 'profiles' flake output
  flake.nix
Due: alejandra, nix-syntax-check, flake-check, security-scan, performance-check, documentation-check

Add pure disko configurations for nixies system
  configurations/disko/nixies-zfs.nix
  configurations/disko/nixies.nix
  configurations/systems/nixies.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

Update nixies to use ZFS with disk by-id, no encryption, no swap
  configurations/disko/nixies-zfs.nix
  configurations/systems/nixies.nix
  flake-modules/apps.nix
  flake-modules/deployment.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

Update disk ID for nixies system
  configurations/disko/nixies-zfs.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

Enable SSH password auth and root access with public keys
  configurations/systems/nixies.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

Major system configuration updates for nixies
  configurations/systems/nixies.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

Add gaming optimizations with nix-gaming flake
  configurations/systems/nixies.nix
  flake-modules/systems.nix
  flake.lock
  flake.nix
Due: alejandra, nix-syntax-check, flake-check, security-scan, performance-check, documentation-check

Add comprehensive hardware optimizations for nixies
  configurations/systems/nixies.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

feat: add NVMe optimizations and monitoring to nixies system
  configurations/systems/nixies.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

fix: remove fail2ban from base profile
  profiles/base.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check

fix: remove sata_ahci module - not available in kernel 6.15
  configurations/systems/nixies.nix
Due: alejandra, nix-syntax-check, security-scan, performance-check, documentation-check
